@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Bubblegum Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/bubblegumsans/v16/AYCSpXb_Z9EORv1M5QTjEzMEteaAxII.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body,
html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url(../files/fondo.jpg);
  background-repeat: repeat;
  background-position: center center;
}
.page {
  height: 100%;
  min-height: 350px;
  min-width: 550px;
  position: absolute;
}

#content {
  background-image: url(../files/fondo.jpg);
  background-repeat: repeat;
  background-position: center center;
  width: 30%;
  min-width: 200px;
  position: fixed;
  z-index: 997;
  top: 0px;
  right: 0px;
  box-shadow: 0px 0px 30px 0px #585858;
  padding-bottom: 90px;
  font-family: "Bubblegum Sans";
}

.page11 .scene3 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  z-index: 1;
  min-height: 350px;
  min-width: 550px;
  background-image: url(../files/pag9/Tico.jpg);
  background-position: right center;
  background-size: cover;
}

#content #text {
  font-family: "Bubblegum Sans";
  font-size: 23px;
  color: #454545;
  /* font-weight: bolder; */
  text-align: justify;
  margin-top: 10px;
  position: relative;
  z-index: 500;
  overflow: auto;
  margin-right: 10px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-shadow: 0px 1px 0px #ffffff;
}

span.icone {
  background-image: url(../files/EE.png);
  display: inline-block;
  height: 67px;
  width: 68px;
  margin-bottom: -42px;
}
span.space {
  display: inline-block;
  height: 10px;
  width: 65px;
}

#footer {
  background-image: url(../files/lineas.png);
  height: 90px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#next,
#back {
  background-repeat: no-repeat;
  background-position: center center;
  height: 60px;
  width: 60px;
  position: fixed;
  border-radius: 60px;
  opacity: 0.75;
  cursor: pointer;
  box-shadow: 0px 0px 15px 0px #026891;
  -webkit-transition: box-shadow 1s, opacity 1s;
  -moz-transition: box-shadow 1s, opacity 1s;
  -ms-transition: box-shadow 1s, opacity 1s;
  -o-transition: box-shadow 1s, opacity 1s;
  transition: box-shadow 1s, opacity 1s;
}
#back {
  background-image: url(../files/back.png);
  left: 15px;
  bottom: 15px;
  z-index: 999;
}
#next {
  background-image: url(../files/next.png);
  right: 15px;
  bottom: 15px;
  z-index: 999;
}
#back:active {
  background-image: url(../files/back-active.png);
}
#next:active {
  background-image: url(../files/next-active.png);
}
#next:hover,
#back:hover {
  opacity: 1;
  box-shadow: 0px 0px 70px 0px #001e2a;
}

#name_text {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: 22px;
}

#text textarea {
  width: 90%;
  height: 50px;
}
#checkgroup {
  text-align: center;
  margin: auto;
  display: table;
}
#checkgroup label {
  font-family: Arial;
  font-size: 14px;
  color: #000;
  margin: 5px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  display: inline-table;
  text-shadow: 0 0 0 #fff;
  border-radius: 4px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 3px;
  padding-left: 2px;
  cursor: pointer;
}

div.info {
  font-size: 14px;
  color: #222;
  background-color: #d8eaf7;
  border: 2px dashed #35a4df;
  border-radius: 10px;
  padding: 10px;
  margin-left: -10px;
  margin-top: 10px;
  text-align: left;
}

.name_user {
  color: black;
  font-size: 24px;
  text-shadow: 0 -1px 0 #fff;
}

#img_prev {
  background-size: cover !important;
}

.info.content {
  position: absolute;
  font-size: 17px;
  font-family: Arial;
  font-weight: bold;
  padding-left: 30px;
  text-align: center;
  padding-right: 20px;
}

#formCualidades {
  text-align: center;
  margin: auto;
  display: table;
}
#formCualidades input[type="text"] {
  margin: 10px;
  height: 25px;
  width: 110px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 8px;
}

#button-diploma {
  display: flex;
  font-family: "Bubblegum Sans";
  font-size: 30px;
  color: #09f;
  cursor: pointer;
  transition: all 0.3s ease;
}

#button-diploma:hover {
  color: rgb(58, 112, 149);
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9000;
  -webkit-box-shadow: inset 0px 0px 100px 0px #1f8f99;
  box-shadow: inset 0px 0px 100px 0px #1f8f99;
  background-color: #57c6d0;
  background-image: url(../files/loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}
#img_loader {
  position: fixed;
  z-index: 9001;
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -150px;
}

#div_loader {
  position: fixed;
  z-index: 9002;
  top: 50%;
  left: 50%;
  color: #257880;
  font-size: 12px;
  font-weight: bold;
  font-family: Tahoma, Arial;
  width: 130px;
  text-align: center;
  margin-left: -65px;
  margin-top: 10px;
  text-shadow: 0px 1px 0px #7cdae2;
}

#buttonNarracion {
  width: 20px;
  height: 20px;
}

.wrapper {
  display: table;
  width: auto;
  margin-top: 150px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  position: relative;
}
.cuento a {
  display: block;
  height: 210px;
  width: 270px;
}

.cuento {
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  height: 270px;
  width: 210px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.cuento:hover {
  opacity: 1;
  -moz-transform: scale(1.2) rotate(-5deg) translateX(0px) translateY(0px)
    skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1.2) rotate(-5deg) translateX(0px) translateY(0px)
    skewX(0deg) skewY(0deg);
  -o-transform: scale(1.2) rotate(-5deg) translateX(0px) translateY(0px)
    skewX(0deg) skewY(0deg);
  -ms-transform: scale(1.2) rotate(-5deg) translateX(0px) translateY(0px)
    skewX(0deg) skewY(0deg);
  transform: scale(1.2) rotate(-5deg) translateX(0px) translateY(0px)
    skewX(0deg) skewY(0deg);
}

.cuento.tico {
  background-image: url(../files/cuentos/tico.png);
  width: 20vw;
}
.musicContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 70vw;
  height: 8vh;
  bottom: 0;
  /* background-color: #40efff; */
}

#play,
#pause {
  z-index: 999;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.7;
  justify-content: center;
  align-items: flex-end;
  image-resolution: 1080px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease;
}

#play:hover {
  opacity: 1;
}

#pause:hover {
  opacity: 1;
}

.introContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 70vw;
  height: 8vh;
  bottom: 0;
  /* background-color: #40efff; */
}

#introPlay,
#introPause {
  z-index: 999;
  /* background-color: red; */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
  opacity: 0.7;
  justify-content: center;
  align-items: flex-end;
  image-resolution: 1080px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.5s ease;
}

#introPlay:hover {
  opacity: 1;
}

#introPause:hover {
  opacity: 1;
}

.containerMonedas {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  width: 68vw;
  height: 8vh;
  padding: 10px 10px 10px 15px;
  /* background-color: #257880; */
}

#monedas {
  justify-content: center;
  align-items: center;
}

#cont {
  padding-left: 5px;
  font-size: 20px;
  font-family: "Bubblegum Sans";
}

.diplomaContainer {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  height: 100vh;
  position: relative;
  /* background-color: brown; */
}
#diploma {
  display: flex;
  z-index: 2;
  justify-content: space-evenly;
  width: 65vw;
  height: 90vh;
  right: -80%;
  padding-top: 20px;
  background-repeat: no-repeat;
  /* box-shadow: 5px 1px 15px 2px #232323; */
}

#diploma img {
  box-shadow: 10px 10px 19px 2px #232323;
}

#nombre {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 38%;
  left: 42%;
  width: 35vw;
  height: 3vh;
  z-index: 3;
  font-size: 30px;
  font-family: Lucida Handwriting;
  /* background-color: blue; */
}

#edad {
  display: flex;
  /* background-color: violet; */
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 46.5%;
  left: 56%;
  width: 8vw;
  height: 3vh;
  z-index: 3;
  font-size: 30px;
  font-family: Lucida Handwriting;
}
.containerBotones {
  display: flex;
  flex-direction: column;
  padding: 12px 20px 20px 0px;
}

li {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin: 15px;
  list-style: none;

  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: #5c7cff;
  width: 190px;
  height: 5vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.3s ease;
}
li:nth-last-child(2) {
  background-color: #e94d4d;
}

li:hover {
  background-color: #a8b7ee;
  /* border: 1px solid black; */
  box-shadow: 5px 1px 15px 2px #232323;
}

#contFinal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  border-style: dotted;
  font-size: 24px;
  font-family: "Bubblegum Sans";
}

.reportePadres img {
  box-shadow: 10px 10px 19px 2px #232323;
}
