@charset "utf-8";
/* CSS Document */


.page7
{
	z-index: 4;
}

.page7 .scene3
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	z-index: 2;
	min-height: 350px;
	min-width: 550px;
	background-image: url(../files/pag7/background.png);
	background-position: center center;
}

